.title {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: beige;
    color: brown;
    width: 250px;
    margin: 20px auto;
}

img {
    margin: 0 auto;
    display: block;
}

h3 {
    padding: 10px;
    background-color: bisque;
}

.homelink {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: brown;
    color: white;
    display: block;
}

.recipe_page {
    margin-bottom: 5px;
}

.recipe_list {
    background-color: #ffd54f;
    padding: 20px;
    margin: 100px auto;
    width: 100px;
    display: block;
    color: darkred;
}

.recipe_link {
    color: darkred;
}

.description {
    padding: 10px;
}